/**
 * @name underBar
 * @author Rixen
 * @version 0.3
 */


.selected-g-kMVV.item-3XjbnG::after,.selected-1-Z6gm.container-1oeRFJ::after,.interactive-iyXY_x.selected-3veCBZ::after,.modeSelected-3DmyhH .content-1gYQeQ::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: purple;
    transform: scaleX(1);
    cursor: pointer;
}

.item-3XjbnG:after,.container-1oeRFJ:after,.interactive-iyXY_x:after,.content-1gYQeQ:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: purple;
    transform-origin: bottom left;
    transition: transform 0.15s ease-out;
    cursor: pointer;
    border-bottom-right-radius: 2px;border-bottom-left-radius: 2px;
}

.item-3XjbnG:hover:after,.container-1oeRFJ:hover:after,.interactive-iyXY_x:hover:after,.content-1gYQeQ:hover:after {
    transform: scaleX(1);
}

.item-3XjbnG,.container-1oeRFJ .layout-1qmrhw,.interactive-1vLZ_I.interactive-iyXY_x,.modeSelected-3DmyhH .content-1gYQeQ,.content-1gYQeQ{
    background-color: transparent!important;
}

